/* ############## DEFAULTS ################ */
nav,
header,
footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #34dfeb;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* ############ NAVBAR ############# */

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: lightslategray;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: azure;
}

ul.topnav li a:hover {
  background-color: cadetblue;
  color: chocolate;
}

ul.topnav li.dropdown-icon {
  display: none;
}

/* ############### FOOTER ################## */
footer {
  background-color: lightslategray;
}

.footerContent {
  margin-left: 20%;
}

.footerContent h3 {
  color: white;
  font-size: 25px;
}

.footerContent ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5%;
}

.footerContent ul li {
  line-height: 20px;
  list-style: none;
}

.footerContent ul li a {
  color: white;
  text-decoration: none;
}

/* ########### CUSTOM STYLE ################ */
#section-1-gradient {
  background-image: linear-gradient(#08a4f8, #34dfeb);
}

h1.large {
  color: bisque;
  font-size: 40px;
  margin: 0;
  line-height: 35px;
  text-shadow: 5px 5px 10px #000000;
}

.sectionLarge {
  text-shadow: 3px 3px 5px white;
  padding-bottom: 5px;
  text-align: center;
}

form h2 {
  color: burlywood;
}

input[type="text"] {
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  padding: 5px;
  border-radius: 7px;
}

div.leftSide-col {
  margin-left: 30%;
}
div.rightSide-col {
  margin-left: 10%;
}

.sectionTitle {
  text-transform: uppercase;
  width: 100%;
}

.contentBox {
  background-color: powderblue;
  border-color: darkgoldenrod;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 4px;
  box-shadow: 5px 7px dodgerblue;
}

.contentTitle {
  padding: 0;
  text-align: center;
}

.contentTitle h3 {
  margin-left: 10%;
  margin-left: 0;
}

.imageContainer {
  width: 50%;
  position: relative;
}

.contentImageContainer {
  width: 100%;
  /* position: relative; */
  border-radius: 2%;
  margin-right: 2%;
}

.learnMoreSection {
  display: block;
  width: 100%;
  padding-top: 1%;
  text-align: center;
}

.learnMore {
  background-color: thistle;
  border-radius: 7px;
  border-color: none;
  min-width: 200px;
  min-height: 50px;
  font-size: 26px;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px dodgerblue;
}

.learnMore a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  text-shadow: 1px 1px 3px black;
}

.learnMore:hover {
  background-color: rosybrown;
  box-shadow: 2px 2px cadetblue;
}

.footerContent h3 {
  padding-bottom: 2px;
  margin-bottom: 5%;
}

/* ############# 1100 SIZE ################ */
@media screen and (max-width: 1200px) {
  .col-6 {
    width: 100%;
    margin: 0;
  }

  div.leftSide-col,
  div.rightSide-col {
    margin: 15px;
  }

  div.leftSide-col {
    margin-left: 30%;
  }

  .videoContainer {
    position: relative;
    width: 100%;
  }
}

/* ########## MOBILE ########### */
@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }

  ul.topnav li.dropdown-icon {
    float: right;
    display: block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  ul.topnav.responsive li.dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .col-6 {
    width: 100%;
    margin: 0;
    padding-bottom: 5%;
  }

  div.leftSide-col,
  div.rightSide-col {
    margin: 15px;
  }

  input[type="text"] {
    width: 300px;
    min-width: 50px;
  }

  .videoContainer {
    position: relative;
    width: 100%;
  }

  .sectionTitle {
    position: relative;
    width: 100%;
  }

  .col-4 {
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
  }

  .learnMoreSection {
    padding-top: 0;
    margin-right: 2.5%;
  }

  .contentBox {
    margin-left: 3%;
    margin-right: 3%;
  }

  .col-3 {
    width: 50%;
    position: relative;
  }
}
